{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "**/*.md",
			"options": {
				"singleQuote": false,
				"printWidth": 78,
				"proseWrap": "always"
			}
		},
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
